.background {
    background-image: url('../../asset/fundoNew.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CadastroBack{
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 20px;
    padding: 30px;
}
.DivLogout{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: #3a3d52;
}

.FormCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.InputsStyles{
    padding: 15px;
    background: transparent;
    border: 1px solid #acacac;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    margin:20px; 

    ::placeholder {
        color: #999;
    }
}
.textos{
    color: #acacac;
    font-size: 1.3em
}

.ButtonLogin {
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    margin: 15px;
    border-radius: 25px;
    border: 3px solid;
    border-image: linear-gradient(45deg, blue, purple) 1;
    background: transparent;
}
