.FormPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 5px;
    gap: 20px;
}

.inputStyle{
    background-color: #EDEDED;
    border-radius: 20px;
    border: none;
    width: 363px;
    height: 150px;
    padding: 15px;
}

.titleText{
    background-color: #EDEDED;
    border-radius: 15px;
    border: none;
    width: 385px;
    height: 60px;
    padding: 5px;
}

.PostButton{
    width: 300px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    border: none;
    background: linear-gradient(45deg, blue, purple);

    &:hover{
        cursor: pointer;
    }
}

.Cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LinhaSeparacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2px;
    background: linear-gradient(45deg, blue, purple);
    margin-top: 20px;
}

.background {
    background-image: url('../../asset/fundoNew.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}